@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --light-text-color: #ffffff;
  --accent-color: #2196f3;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --phone-footer-color: rgba(255, 255, 255, 0.6);
  --btn-focus-hover: #188ce8;
  --border-color: #eeee;
  --logo-basic-color: #afb1b8;
  --footer-social-bg-color: rgba(255, 255, 255, 0.1);
  --services-overlay: rgba(47, 48, 58, 0.8);
  --portfolio-overlay: rgba(33, 150, 243, 0.9);
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v28-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  margin: 0;
  color: var(--main-text-color);
  background-color: var(--light-text-color);
  /* головний шрифт */
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* cleaning */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

.not-link {
  text-decoration: none;
  display: block;
}

.not-ul {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.btn {
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--light-text-color);
  cursor: pointer;
  display: block;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding: 0;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:focus, .btn:hover {
  background-color: var(--btn-focus-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: inline-block;
}

.logo_color-accent {
  color: var(--accent-color);
}

.logo_color-dark {
  color: var(--title-text-color);
}

.logo_color-light {
  color: var(--light-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--light-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.modal__close-btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--accent-color);
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__field-desc {
  display: block;
  font-size: 12px;
  letter-spacing: 0.01em;
  width: 22px;
  height: 14px;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
}

.modal-form__input:focus + .modal-form__input-icon {
  fill: var(--accent-color);
}

.modal-form__message {
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form__message::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__own-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__check:checked + .modal-form__own-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-form__check:focus + .modal-form__own-checkbox {
  box-shadow: 0 0 0 1px rgba(13, 86, 145, 0.9);
}

.modal-form__own-checkbox-icon {
  display: none;
  fill: var(--light-text-color);
}
.modal-form__check:checked + .modal-form__own-checkbox .modal-form__own-checkbox-icon {
  display: block;
}

.modal-form__check {
  appearance: none;
  position: absolute;
}

.modal-form__check-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form__submit {
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--light-text-color);
  cursor: pointer;
  display: block;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-self: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__submit:focus, .modal-form__submit:hover {
  background-color: var(--btn-focus-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form__policy {
  color: rgb(33, 150, 243);
}

.main-header {
  border-bottom: 1px solid var(--border-color);
}

.main-header_position {
  display: flex;
  align-items: center;
}

.main-header__nav {
  display: flex;
  align-items: center;
}

.site-nav__link.current {
  color: var(--accent-color);
}
.site-nav__link.current::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

/* header contacts */
.header-contacts a {
  color: var(--main-text-color);
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-left: auto;
}

.header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* navigation */
.site-nav {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: 93px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.cursor::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cursor:hover::after,
.cursor:focus::after {
  transform: scale(1);
}

.line {
  position: relative;
}

.hero {
  background-color: var(--dark-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  outline: 1px solid black;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-sq.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  color: var(--light-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.feauters-list__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feauters-list {
  display: flex;
}

.feauters-list__img {
  background-color: var(--light-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.feauters-list__item {
  width: 270px;
}
.feauters-list__item:not(:last-child) {
  margin-right: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.services {
  padding-top: 0px;
}

.services-list {
  display: flex;
}

.services-list__item:not(:last-child) {
  margin-right: 30px;
}

.img-desctop,
.img-mobile,
.img-designe {
  position: relative;
}

.services-list__overlay {
  position: absolute;
  bottom: 0;
  background-color: var(--services-overlay);
  width: 100%;
  height: 70px;
  padding-top: 27px;
}

.services-list__txt {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.section-team {
  background-color: var(--light-bg-color);
}

.team-list {
  display: flex;
}

.team-list__card {
  padding: 30px;
  text-align: center;
}

.team-list__photos {
  background-color: var(--light-text-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__photos:not(:last-child) {
  margin-right: 30px;
}

.team-list__worker-name {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.team-list__worker-position {
  font-size: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--logo-basic-color);
  fill: currentColor;
  height: 100%;
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--light-text-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-list__item {
  width: 170px;
  height: 92px;
}

.customers-list__logo {
  width: 106px;
  height: 60px;
}

.customers-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--logo-basic-color);
  border-radius: 4px;
  color: var(--logo-basic-color);
  fill: currentColor;
  height: 100%;
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list__link:hover, .customers-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.site-footer {
  background-color: var(--dark-bg-color);
}

.container.footer {
  display: flex;
  align-items: baseline;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__map-link {
  font-style: normal;
  color: var(--light-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__map-link:hover, .address-list__map-link:focus {
  color: var(--accent-color);
}

.address-list__link {
  font-style: normal;
  color: var(--phone-footer-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-social {
  margin-left: 70px;
  width: 206px;
}

.footer-social__title {
  text-transform: uppercase;
  color: var(--light-text-color);
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.14;
}

.social-list__link.footer {
  fill: var(--light-text-color);
  background-color: var(--footer-social-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link.footer:hover, .social-list__link.footer:focus {
  background-color: var(--accent-color);
}

/* footer form */
.footer-form {
  margin-left: auto;
}

.footer-form__wrapper {
  display: flex;
}

.footer-form__txt {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
  margin-bottom: 10px;
}

.footer-form__subscribe {
  width: 358px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 12px;
  color: var(--light-text-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__subscribe:focus {
  border-color: var(--accent-color);
}
.footer-form__subscribe::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  padding-left: 12px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__submit {
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--light-text-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  margin-left: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__submit:focus, .footer-form__submit:hover {
  background-color: var(--btn-focus-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.portfolio.not-link {
  display: inline-block;
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav__btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  background-color: var(--light-bg-color);
  color: var(--title-text-color);
  cursor: pointer;
  padding: 6px 22px;
  display: block;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav__btn:hover, .portfolio-nav__btn:focus {
  background-color: var(--accent-color);
  color: var(--light-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list__titles {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio-list__txt {
  font-size: 16px;
  line-height: 1.9;
  color: var(--main-text-color);
}

.portfolio-list__item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-list__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__border {
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  padding: 20px 24px;
}

.portfolio-list__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--portfolio-overlay);
  color: var(--light-text-color);
  padding: 61px 24px;
  font-size: 18px;
  line-height: 1.55;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover .portfolio-list__overlay, .portfolio-list__link:focus .portfolio-list__overlay {
  transform: translateY(0%);
}

.portfolio-list__img-wrapper {
  position: relative;
  overflow: hidden;
}

.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* logos */
.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
.header-contacts__icon:hover, .header-contacts__icon:focus {
  fill: var(--accent-color);
}/*# sourceMappingURL=main.css.map */