@import "./utils/normalize";
@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/mixins";

@import "./base/common";
@import "./base/section";
@import "./base/container";
@import "./base/section-title";

@import "./components/btn";
@import "./components/logo";
@import "./components/backdrop";
@import "./components/modal-window";
@import "./components/modal-form";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/feauters";
@import "./layout/services";
@import "./layout/team";
@import "./layout/customers";
@import "./layout/footer";
@import "./layout/portfolio";
