
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.services {
  padding-top: 0px;
}

.services-list {
  display: flex;
}
.services-list__item:not(:last-child) {
  margin-right: 30px;
}

.img-desctop,
.img-mobile,
.img-designe {
  position: relative;
}

.services-list__overlay {
  position: absolute;
  bottom: 0;

  background-color: var(--services-overlay);
  width: 100%;
  height: 70px;
  padding-top: 27px;
}

.services-list__txt {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-text-color);
}