  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    display: inline-block;
  }
  .logo_color-accent {
    color: var(--accent-color);
  }
  .logo_color-dark {
    color: var(--title-text-color);
  }
  .logo_color-light {
    color: var(--light-text-color);
  }